/* Basic structure for a simple quiz app */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    color: #333;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(185, 7, 7, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.screen {
    display: none; /*visible only when active */
    padding: 2rem;
    text-align: center;
}

.screen.active {
    display: block;
}

#start-screen h1 {
    color: #5e3305; 
    margin-bottom: 20px;
    font-size: 2rem;
}

#start-screen p {
    color:#666666;
    margin-bottom: 30px;
    font-size: 1.4rem;
}

.quiz-header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #B55D00; 
}

#questions-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.quiz-info {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1rem;
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 25px;
}

.answer-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress{
    height: 100%;
    background-color: #c4a013;
    width: 0; /* Will be updated dynamically */
    transition: width 0.3s ease;
}

#result-screen h1#result-text {
  color: #b06d26;
    margin-bottom: 20px;
}


.result-info {
    font-size: 1.2rem;
    background-color: #f7f2e0;
    color: #666;
    margin-bottom: 20px;
}

.result-info {
  width: 90%;
  margin: 0 auto 20px;
  padding: 1rem;
  background-color: #f7f2e0;
  font-size: 1.2rem;
  color: #666;
  border-radius: 8px;
}


#result-message p{
    font-size: 1.5rem;
    color: #B55D00;
    margin-bottom: 20px;
    font-weight: 600;
}

button {
    background-color: #ff6600;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}